{% extends 'layout.html' %}

{% block title %}Create Invoice{% endblock %}

{% block content %}
{% if outcome %}<h2>{{ outcome }}</h2>
{% if created_invoice_id %}<a href="/emailinvoice?id={{created_invoice_id}}" class="btn btn-xs btn-primary">Email</a>{% endif %}
{% if err %}
{{ err.code }} - {{ err.error }}
{% endif %}
{% endif %}

<h3>Invoice</h3>
<form method="post" action="">
Client Id <input name="client_id" type="text" value="109013"><br>
<br>
<input type="submit" value="Submit">
</form>

{% endblock %}